.container{
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    width: min(399px, 100%);
    padding-left: 20px;
    height: 100%;
  }
}
.searchWrapper{
  padding: 10px 4px;
  width: min(399px, 100%);

  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--primary);

  max-height: 57px;
}
.searchInput{
  >input{
    width: 100%;
    height: 39px;
    font-size: 14px;
    padding: 0 10px 0 52px;
    border-radius: 19.5px;
    background: var(--search);

    &::placeholder{
      color: var(--gray);
    }
  }

  >div>svg{
    position: relative;
    top: -30px;
    left: 17px;
    z-index: 1;
    fill: var(--gray);

    transition: 180ms ease-in-out;
  }

  outline: 0;

  &:focus{
    border: 1px solid var(--twitter);

    >div>svg{
      fill: var(--twitter);
    }
  }
}
.content{
  display: flex;
  flex-direction: column;
  padding: 57px 24px 0px 5px;
  margin-top: 3px;

  width: min(399px, 100%);
}
.rights{
  display: flex;
  flex-direction: column;
  margin-top: 13px;

  text-align: center;
  font-size: 14px;

  >p{
    color: var(--gray);
    margin-bottom: 5px;
  }
}
