<div class="container">

  <div class="tab">Tweets</div>

  <div class="tweets">
    <div class="tweet">
      <app-tweet name="Marina Vieira" user="@marina_vieira" date="22 de fev" text="Join the movement!" url="https://i.pinimg.com/564x/8a/e3/a9/8ae3a9dcaf87d527d16651061fdd1234.jpg" description="girls who code"></app-tweet>
    </div>
    <div class="tweet">
      <app-tweet name="Guilherme Freitas" user="@guilherme_freitas" date="22 de fev" text="Aprenda TypeScript!" url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnaEs3YgVEEwZ8WJOJQJIwPtV7iZAFzsHsBA&usqp=CAU"></app-tweet>
    </div>
    <div class="tweet">
      <app-tweet name="Carolina Souza" user="@carol_souza" date="22 de fev" url="https://www.folhadealphaville.com.br/images/articles/4012/b2ap3_large_decoracao-de-home-office-800x600.jpg"></app-tweet>
    </div>
  </div>

</div>
